@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
header{
    margin-top: 3vh;
    margin-left: 70vh;
    padding: 10px;
    border: 3px solid rgb(31, 0, 80);
    border-style: double;
    display: inline-flex;
    
}
.presentation{
    margin: 5% 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.presentation__content{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
body {
    font-family: 'Nata Sans', sans-serif;
    height: 100vh;
    background-color:#07020D;
    color: #C3D350;
    box-sizing: border-box;
}
.strong-title{
    color: aqua;
}
.minha-foto{
    border: 1px solid #C3D350;
    width: 500px;
    height:auto;
    margin-bottom: 1%;
}
.presentation__title{
    font-size: 36px;
}
.presentation__paragraph{
    font-size: 20px;
}
.presentation__links {
    display: flex;
    justify-content: space-between;
}
.presentation__links__button {
    margin-top: 30px;
    background-color: #C3D350;
    color: #05000c;
    border: rgb(31, 0, 80) solid 1px;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.5s;
}
.presentation__links__button:hover {
    background-color: rgb(31, 0, 80);
    color: #ffffff;
    transition: 0.5s;
}